In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

from demographics import create_merged_table

In [3]:
PET_METADATA_PATH = 'adni-tables/All_Preprocessed_PET.csv'
MRI_PATH = 'adni-tables/All_Subjects_Structural_MRI_Images.csv'
DXSUM_NAME = 'adni-tables/All_Subjects_DXSUM.csv'
CDR_NAME = 'adni-tables/All_Subjects_CDR.csv'
# MRI_PATH = 'All_Subjects_Key_MRI.csv'

In [4]:
raw_df = pd.read_csv(MRI_PATH, parse_dates=['mri_date'])
raw_df

,image_id,subject_id,study_id,mri_visit,mri_date,mri_description,mri_type,mri_sequence,mri_thickness,mri_te,...,mri_flip_angle,mri_acq_plane,mri_width,mri_height,mri_n_images,mri_pixel_x,mri_pixel_y,mri_mfr,mri_mfr_model,mri_field_str
0,70846,037_S_1421,11613,sc,2007-08-27,"Head,3-P,2D,LOCALIZER",2D,RM,5.0,1.6,...,30.0,Axial,256.0,256.0,5.0,1.015625,1.015625,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
1,70847,037_S_1421,11613,sc,2007-08-27,"Head,3-P,2D,LOCALIZER",2D,RM,5.0,1.6,...,30.0,Coronal,256.0,256.0,5.0,1.015625,1.015625,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
2,70848,037_S_1421,11613,sc,2007-08-27,"Head,3-P,2D,LOCALIZER",2D,RM,5.0,1.6,...,30.0,Sagittal,256.0,256.0,5.0,1.015625,1.015625,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
3,70849,037_S_1421,11613,sc,2007-08-27,"Head,3-P,2D,LOCALIZER",2D,RM,5.0,1.6,...,30.0,Axial,256.0,256.0,5.0,1.015625,1.015625,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
4,70850,037_S_1421,11613,sc,2007-08-27,"Head,3-P,2D,LOCALIZER",2D,RM,5.0,1.6,...,30.0,Coronal,256.0,256.0,5.0,1.015625,1.015625,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229371,11365077,035_S_7115,218809,sc,2022-11-15,T1 Brain Mask,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229372,11365082,035_S_7115,218809,sc,2022-11-15,T1 MUSE segmentation,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229373,11365090,082_S_7117,219059,sc,2022-11-03,Reoriented T1 Image,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229374,11365095,082_S_7117,219059,sc,2022-11-03,T1 Brain Mask,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229375,11365107,082_S_7117,219059,sc,2022-11-03,T1 MUSE segmentation,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def contains_any(desc, duplicate_types=None):
    if duplicate_types is None:
        duplicate_types = []
        return False
    if pd.isna(desc):
        return False
    return any([dup_type in desc for dup_type in duplicate_types])

# series_desc = [x for x in raw_df['series_description'].unique().tolist() if 'mprage' in str(x).lower() or 'mp-rage' in str(x).lower()]
duplicate_types = ['grappa2', 'repeat']

df = raw_df[
    (raw_df['mri_description'].str.contains('N3') 
     | raw_df['mri_description'].str.contains('B1') 
     | raw_df['mri_description'].str.contains('GradWarp') 
    ) &
    ~raw_df['mri_description'].str.lower().str.contains('calibration') &
    ~raw_df['mri_description'].str.lower().str.contains('mask') &
    
#             (raw_df['mri_description'].str.contains('MPRAGE') | raw_df['mri_description'].str.contains('MP-RAGE')) &
#             (~raw_df['series_description'].str.lower().apply(contains_any, duplicate_types=duplicate_types).fillna(False)) &
    (raw_df['mri_type'] == '3D')
#             (raw_df['mri_field_str'] == 3.0)
#             (raw_df['mri_acq_plane'] == 'Axial')
]

# df = raw_df[
#             (raw_df['series_type'] == 'T1w') &
# #             (raw_df['series_description'].str.contains('MPRAGE') | raw_df['series_description'].str.contains('MP-RAGE')) &
# #             (~raw_df['series_description'].str.lower().apply(contains_any, duplicate_types=duplicate_types).fillna(False)) &
# #             (raw_df['acquisition_type'] == '3D') &
# #             (raw_df['magnetic_field_strength'] == 3.0) &
#             (raw_df['acquisition_plane'] == 'Axial')
#            ]

In [6]:
df

,image_id,subject_id,study_id,mri_visit,mri_date,mri_description,mri_type,mri_sequence,mri_thickness,mri_te,...,mri_flip_angle,mri_acq_plane,mri_width,mri_height,mri_n_images,mri_pixel_x,mri_pixel_y,mri_mfr,mri_mfr_model,mri_field_str
119260,79928,037_S_1421,11613,sc,2007-08-27,MPR; GradWarp,3D,RM,NaN,4.09,...,8.0,Sagittal,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
119262,79947,037_S_1421,11613,sc,2007-08-27,MPR; GradWarp; N3,3D,RM,NaN,4.09,...,8.0,Sagittal,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
119263,79948,037_S_1421,11613,sc,2007-08-27,MPR; GradWarp; N3; Scaled,3D,RM,NaN,4.09,...,8.0,Sagittal,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
119265,79950,037_S_1421,11613,sc,2007-08-27,MPR-R; GradWarp; N3,3D,RM,NaN,4.09,...,8.0,Sagittal,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
119266,79951,037_S_1421,11613,sc,2007-08-27,MPR-R; GradWarp,3D,RM,NaN,4.09,...,8.0,Sagittal,NaN,NaN,NaN,NaN,NaN,GE MEDICAL SYSTEMS,GENESIS_SIGNA,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196647,882757,037_S_6046,113078,sc,2017-07-17,MT1; N3m,3D,GR/IR,NaN,2.98,...,9.0,Sagittal,NaN,NaN,NaN,NaN,NaN,SIEMENS,Prisma,3.0
196648,882761,067_S_6045,113046,sc,2017-07-13,MT1; N3m,3D,GR/IR,NaN,2.98,...,9.0,Sagittal,NaN,NaN,NaN,NaN,NaN,SIEMENS,Prisma_fit,3.0
196649,882756,941_S_6052,113211,sc,2017-07-20,MT1; N3m,3D,GR/IR,NaN,2.95,...,9.0,Sagittal,NaN,NaN,NaN,NaN,NaN,SIEMENS,Prisma_fit,3.0
196650,882727,168_S_6051,113082,sc,2017-07-13,MT1; N3m,3D,GR/IR,NaN,2.98,...,9.0,Sagittal,NaN,NaN,NaN,NaN,NaN,SIEMENS,Prisma_fit,3.0
196651,882769,002_S_6053,113332,sc,2017-07-18,MT1; N3m,3D,GR/IR,NaN,2.98,...,9.0,Sagittal,NaN,NaN,NaN,NaN,NaN,SIEMENS,Prisma_fit,3.0

In [7]:
df['mri_description'].value_counts()

mri_description
MT1; GradWarp; N3m                              7578
MPR; GradWarp                                   3846
MPR-R; GradWarp                                 3757
MPR; GradWarp; B1 Correction; N3                3182
MPR; GradWarp; B1 Correction                    3181
MPR-R; GradWarp; B1 Correction; N3              3090
MPR-R; GradWarp; B1 Correction                  3090
MT1; N3m                                        2898
MPR; GradWarp; B1 Correction; N3; Scaled        2495
MPR-R; GradWarp; N3                              678
MPR; GradWarp; N3                                673
MPR-R; GradWarp; B1 Correction; N3; Scaled       616
MPR; GradWarp; N3; Scaled                        506
MPR; GradWarp; B1 Correction; N3; Scaled_2       253
MPR; ; N3                                        156
MPR-R; GradWarp; N3; Scaled                      151
MPR; ; N3; Scaled                                106
MPR-R; ; N3                                       84
MPR-R; GradWarp; B1 Correction; N3; Scaled_2      82
MPR; GradWarp; N3; Scaled_2                       59
MPR; ; N3; Scaled_2                               29
MPR-R; GradWarp; N3; Scaled_2                     20
MPR-R; ; N3; Scaled                               15
MPR-R; ; N3; Scaled_2                              8
Name: count, dtype: int64

In [8]:
pet_meta = pd.read_csv(PET_METADATA_PATH, parse_dates=['image_date'])
df2 = create_merged_table(pet_meta, df, 'subject_id', 'subject_id', 'image_date', 'mri_date', suffixes=('_pet', '_mri'))
df2 = df2.rename(columns={'subject_id_pet': 'subject_id'}).dropna(subset=['image_id_mri']).astype({'image_id_mri': int})

cols = ['subject_id', 'image_id_pet', 'image_id_mri', 'image_date', 'mri_date', 'mri_acq_plane', 'mri_field_str', 'mri_description']
df2 = df2[cols]

In [9]:
df2

,subject_id,image_id_pet,image_id_mri,image_date,mri_date,mri_acq_plane,mri_field_str,mri_description
0,037_S_1421,71920,79928,2007-09-04,2007-08-27,Sagittal,1.5,MPR; GradWarp
1,037_S_1421,91372,94524,2008-02-20,2008-02-20,Sagittal,1.5,MPR; GradWarp; N3
2,037_S_1421,118139,121636,2008-09-17,2008-09-17,Sagittal,1.5,MPR; GradWarp; N3
3,037_S_1421,144086,149806,2009-05-13,2009-05-13,Sagittal,1.5,MPR; GradWarp; N3
4,037_S_1421,194588,203709,2010-09-24,2010-09-24,Sagittal,1.5,MPR; GradWarp; N3
...,...,...,...,...,...,...,...,...
3482,053_S_5296,403696,416077,2013-12-19,2013-12-10,Sagittal,3.0,MT1; N3m
3491,027_S_6034,916043,882765,2017-09-25,2017-07-06,Sagittal,3.0,MT1; N3m
3492,141_S_6041,894660,882763,2017-08-21,2017-07-06,Sagittal,3.0,MT1; GradWarp; N3m
3493,941_S_6052,882052,882756,2017-07-24,2017-07-20,Sagittal,3.0,MT1; N3m
3494,168_S_6051,918915,882727,2017-08-02,2017-07-13,Sagittal,3.0,MT1; N3m

In [10]:
dxsum = pd.read_csv(DXSUM_NAME, parse_dates=['EXAMDATE'])
cdr = pd.read_csv(CDR_NAME, parse_dates=['VISDATE'])

df3 = create_merged_table(df2, dxsum, 'subject_id', 'PTID', 'image_date', 'EXAMDATE')
cols = cols + ['DIAGNOSIS']
df3 = df3[cols]

In [11]:
data = create_merged_table(df3, cdr, 'subject_id', 'PTID', 'image_date', 'VISDATE')
cols = cols + ['CDRSB']
data = data[cols]

In [12]:
data

,subject_id,image_id_pet,image_id_mri,image_date,mri_date,mri_acq_plane,mri_field_str,mri_description,DIAGNOSIS,CDRSB
0,037_S_1421,71920,79928,2007-09-04,2007-08-27,Sagittal,1.5,MPR; GradWarp,2.0,0.5
1,037_S_1421,91372,94524,2008-02-20,2008-02-20,Sagittal,1.5,MPR; GradWarp; N3,2.0,0.5
2,037_S_1421,118139,121636,2008-09-17,2008-09-17,Sagittal,1.5,MPR; GradWarp; N3,2.0,3.5
3,037_S_1421,144086,149806,2009-05-13,2009-05-13,Sagittal,1.5,MPR; GradWarp; N3,2.0,1.0
4,037_S_1421,194588,203709,2010-09-24,2010-09-24,Sagittal,1.5,MPR; GradWarp; N3,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...
3482,053_S_5296,403696,416077,2013-12-19,2013-12-10,Sagittal,3.0,MT1; N3m,1.0,0.0
3491,027_S_6034,916043,882765,2017-09-25,2017-07-06,Sagittal,3.0,MT1; N3m,2.0,2.0
3492,141_S_6041,894660,882763,2017-08-21,2017-07-06,Sagittal,3.0,MT1; GradWarp; N3m,2.0,1.0
3493,941_S_6052,882052,882756,2017-07-24,2017-07-20,Sagittal,3.0,MT1; N3m,2.0,2.5
3494,168_S_6051,918915,882727,2017-08-02,2017-07-13,Sagittal,3.0,MT1; N3m,1.0,0.0

In [13]:
data[data['DIAGNOSIS'] == 3.0]

,subject_id,image_id_pet,image_id_mri,image_date,mri_date,mri_acq_plane,mri_field_str,mri_description,DIAGNOSIS,CDRSB
7,127_S_1427,117818,121688,2008-08-29,2008-09-02,Sagittal,1.5,MPR; GradWarp; B1 Correction; N3,3.0,4.0
8,127_S_1427,139479,143374,2009-03-06,2009-03-12,Sagittal,1.5,MPR; GradWarp; B1 Correction; N3,3.0,6.0
9,127_S_1427,154847,163860,2009-09-04,2009-08-26,Sagittal,1.5,MPR; GradWarp; B1 Correction; N3,3.0,4.5
10,127_S_1427,191561,288929,2010-08-20,2010-08-19,Sagittal,1.5,MT1; N3m,3.0,5.0
11,127_S_1427,340449,411319,2012-08-17,2012-08-15,Sagittal,1.5,MT1; GradWarp; N3m,3.0,4.5
...,...,...,...,...,...,...,...,...,...,...
3445,018_S_5240,397718,384090,2013-10-01,2013-07-23,Sagittal,3.0,MT1; N3m,3.0,2.0
3446,023_S_5241,396599,388415,2013-10-25,2013-08-09,Sagittal,3.0,MT1; GradWarp; N3m,3.0,7.0
3454,009_S_5252,385835,414462,2013-08-15,2013-07-18,Sagittal,3.0,MT1; GradWarp; N3m,3.0,8.0
3455,016_S_5251,395407,388021,2013-10-18,2013-08-09,Sagittal,3.0,MT1; GradWarp; N3m,3.0,2.5
3468,135_S_5275,391310,388925,2013-09-06,2013-08-05,Sagittal,3.0,MT1; GradWarp; N3m,3.0,3.0

In [14]:
count = 0
for subj_id in data['subject_id'].unique():
    subj_data = data[data['subject_id'] == subj_id]
    mri_types = subj_data['mri_description']
    if mri_types.str.lower().str.contains('mask').any():
#         display(subj_data)
        count += 1
count

0

In [15]:
data['mri_description'].value_counts()

mri_description
MT1; GradWarp; N3m                            1265
MPR; GradWarp; B1 Correction; N3              1186
MT1; N3m                                       474
MPR; GradWarp; N3                              261
MPR; ; N3                                       74
MPR; GradWarp                                   50
MPR-R; GradWarp                                 29
MPR; GradWarp; B1 Correction; N3; Scaled        20
MPR; GradWarp; B1 Correction                    10
MPR-R; GradWarp; B1 Correction; N3               8
MPR; GradWarp; N3; Scaled                        5
MPR-R; GradWarp; N3                              4
MPR-R; GradWarp; N3; Scaled                      3
MPR-R; GradWarp; B1 Correction; N3; Scaled       3
MPR-R; GradWarp; B1 Correction                   1
Name: count, dtype: int64

In [16]:
def write_img_ids(data, date_limit=None):
    '''
    Write the image IDs to a text file separated by commas. Makes it easier to copy-paste the IDs into ADNI ARC builder 
    to download the images.
    '''
    cohorts = data[data['image_date'] < date_limit] if date_limit is not None else data
    
    cn_cohort = cohorts[cohorts['DIAGNOSIS'] == 1.0]['image_id_mri']
    mci_cohort = cohorts[cohorts['DIAGNOSIS'] == 2.0]['image_id_mri']
    ad_cohort = cohorts[cohorts['DIAGNOSIS'] == 3.0]['image_id_mri']
    
    print(f'CN: {len(cn_cohort.unique())}')
    print(f'MCI: {len(mci_cohort.unique())}')
    print(f'AD: {len(ad_cohort.unique())}')
    

    with open('cn_mri_cohort.txt', 'w') as f:
        f.write(','.join(cn_cohort.astype(str)))
        
    with open('mci_mri_cohort.txt', 'w') as f:
        f.write(','.join(mci_cohort.astype(str)))
        
    with open('ad_mri_cohort.txt', 'w') as f:
        f.write(','.join(ad_cohort.astype(str)))
        
        
def write_all_cohorts(data, date_limit=None):
    '''
    Write the fully merged data table to a CSV file. Limit by a maximum date
    '''
    all_cohorts_fname = 'all_cohorts_mri.csv'
    if date_limit is not None:
        data = data[data['image_date'] < date_limit]
        
    data.to_csv(all_cohorts_fname)

In [17]:
# write_img_ids(data)

In [18]:
# write_all_cohorts(data)

In [19]:
104116,104161

(104116, 104161)

In [21]:
data[data['image_id_pet'] == 155693]

,subject_id,image_id_pet,image_id_mri,image_date,mri_date,mri_acq_plane,mri_field_str,mri_description,DIAGNOSIS,CDRSB
1383,136_S_0695,155693,162668,2009-09-22,2009-09-21,Sagittal,1.5,MPR; GradWarp; B1 Correction; N3,3.0,7.0